<div class="fondo">

  <h1 class="titulo">PELICULAS</h1>

  <div class="container">
      <div *ngFor = "let Pelicula of ListaDePeliculas">

          <div class="grupo">
            <div class="contenido1">
                <h3 style="color: yellow;">Nombre:</h3>
                <h3 style="color: white;">{{Pelicula.title}}</h3>
          </div>

          <div class="contenido1">
                <h3 style="color: yellow;">Episodio:</h3>
                <h3 style="color: white;">{{Pelicula.episode_id}}</h3>
            </div>

            <div class="contenido1">
                <h3 style="color: yellow;">Director:</h3>
                <h3 style="color: white;">{{Pelicula.director}}</h3>
            </div>


            <div class="contenido1">
                <h3 style="color: yellow;">Apertura:</h3>
                <h3 style="color: white;">{{Pelicula.opening_crawl}}</h3>
            </div>

            <div class="contenido1">
                <h3 style="color: yellow;">Productor:</h3>
                <h3 style="color: white;">{{Pelicula.producer}}</h3>
            </div>

            <div class="contenido1">
                <h3 style="color: yellow;">Fecha de Lanzamiento:</h3>
                <h3 style="color: white;">{{Pelicula.release_date}}</h3>
            </div>





</div><br>
</div>
</div>
