<div class="fondo">
      <div class="container">   
      <h1 style="color: yellow;">Vehiculos espaciales Star Wars</h1>
      
      <div *ngFor = "let vehiculos of ListaDeVehiculos">
            <div class="grupo">
            <div class="contenido1"> 
            <h3 style="color: yellow;">Nombre : </h3>
            <h3 style="color: white;"> {{vehiculos.name}}  </h3>
            </div>
            <div class="contenido2">  
            <h3 style="color: yellow;">Modelo :   </h3>
            <h3 style="color: white;">{{vehiculos.model}}</h3>
            </div>
            <div class="contenido3"> 
            <h3 style="color: yellow;">Manofactura : </h3>  
            <h3 style="color: white;">{{vehiculos.manufacturer}}</h3>
            </div>
            <div class="contenido4"> 
            <h3 style="color: yellow;">Valor en creditos:   </h3>
                  <h3 style="color: white;">{{vehiculos.cost_in_credits}}</h3>
            </div>
            <div class="contenido5"> 
            <h3 style="color: yellow;">Longitud :      </h3>
            <h3 style="color: white;">{{vehiculos.length}}</h3>
            </div>
            <div class="contenido6"> 
            <h3 style="color: yellow;">Velocidad máxima de atmósfera :  </h3>
            <h3 style="color: white;">{{vehiculos.max_atmosphering_speed}}</h3>
            </div>
            <div class="contenido7"> 
            <h3 style="color: yellow;">Personal :</h3>
            <h3 style="color: white;">{{vehiculos.crew}}</h3>
            </div>
            <div class="contenido8"> 
            <h3 style="color: yellow;">Pasajeros :</h3>
            <h3 style="color: white;">{{vehiculos.passengers}}</h3>
            </div>
            <div class="contenido9"> 
            <h3 style="color: yellow;">Capacidad de carga : </h3>
            <h3 style="color: white;"> {{vehiculos.cargo_capacity}}</h3>
            </div>
            <div class="contenido10"> 
            <h3 style="color: yellow;">Consumibles :  </h3>
            <h3 style="color: white;"> {{vehiculos.consumables}}</h3>
            </div>
            <div class="contenido11"> 
            <h3 style="color: yellow;">Clase de Vehiculo :  </h3>
            <h3 style="color: white;"> {{vehiculos.vehicle_class}}</h3>
            </div>
            <div class="contenido12"> 
            <h3 style="color: yellow;">Editado :  </h3>
            <h3 style="color: white;"> {{vehiculos.edited}}</h3>
            </div>
            <div class="contenido13"> 
            <h3 style="color: yellow;">Creado :  </h3>
            <h3 style="color: white;"> {{vehiculos.created}}</h3>
            </div>
            <div class="contenido14"> 
            <h3 style="color: yellow;">URL :  </h3>
            <h3 style="color: white;"> {{vehiculos.url}}</h3>
            </div>
           
      </div><br>
      </div>
      </div>
      </div>
      
      
      
