

<div class="fondo1 animated fadeIn">
  <div class="nombres">
  <h1 class="color1">Nombres del <br> grupo de trabajo</h1>
  <li> {{ _is.info.Nombreintegrante1}}</li>
  <li> {{ _is.info.Nombreintegrante2}}</li>
</div>

<div class=codigos>
  <h1 class="color1">Codigo Institucional</h1>
  <li>{{ _is.info.Codigoinstitucionalintegrante1}}</li>
  <li>{{ _is.info.Codigoinstitucionalintegrante2}}</li>
</div>

<div class="correos">
  <h1 class="color1">Correo Institucional</h1>
  <li>{{ _is.info.emailinstitucionalintegrante1}}</li>
  <li>{{ _is.info.emailinstitucionalintegrante2}}</li>
</div>

<div>
  <h5>{{ _is.info.universidad}}</h5>
  <h6>{{ _is.info.carrera}}</h6>
</div>
</div>
